.red{
    color:red
}

body {
    background-color: #fff;
    background-image: url(../images/3.jpg);
    
}
.h{
   height: 30px;
}

.btn {
    display: inline-block;
    background: #39bd8a;
    padding: 0px 40px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 35px;
    border-radius: 0px;
    outline: none ;
    box-shadow: none ;
    text-align: center;
    border: 1px solid #39bd8a;
    cursor: pointer;
    border-radius: 5px;
    transition: all 300ms linear 0s;
}