<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
	<title>Fifty tone diagram</title>	
		<!-- jQuery + bootstrap -->
	<script src="http://www.vvxue.com/common/js/jq+boot.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-3.4.1-dist/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="http://foo.ibianma.com/jingying/word/2018/07/02/ec3bb52a00e176a7181d454dffaea219.css" media="screen" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css')}}">	
    <link rel="stylesheet" href="{{ url_for('static', filename='css/learn.css')}}">	
</head>

<body id="main-body" >
    <header class="wz">
        <div style="height: 10px;"></div>
        <div class="container mycheng" style="width: 100%;">
            <div class="container" style= "width: 100%; height: 40px;">
            <div class="col-lg-2 col-md-4 col-sm-6"><a href="{{ url_for('home')}}" target="_self" class="navigation">Home</a></div>
            <div class="col-lg-2 col-md-4 col-sm-6"><a href="{{ url_for('learn')}}" target="_self" class="navigation">Course</a></div>
            <div class="col-lg-2 col-md-4 col-sm-6"><a href="{{ url_for('accessment_home')}}" target="_self" class="navigation">Assessment</a></div>
            <div class="col-lg-2 col-md-4 col-sm-6"><a href="{{ url_for('table')}}" target="_self" class="navigation">Statistical results</a></div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}" class="login navigation" target="_self">Login</a>
                {% else %}
                <a class="navigation"> Hi, {{ current_user.username }}! </a>
                <a href="{{ url_for('logout') }}" class="login navigation" target="_self">Logout</a>
                {% endif %}
                <a href="{{ url_for('register') }}" class="register navigation" target="_self">Register</a>
            </div>
         </div>
    </header>	

<div  class="container bgWrite">
    <div id="tab-tit-50"  style="width:580px;" class="container">
        <a><p data-id="qingyin" class="wushiActive">Unvoiced Sound</p></a>
        <a><p data-id="zhuoyin" class="wushiNoActive">Voiced Sound</p></a>
        <a><p data-id="aoyin"  class="wushiNoActive">Difficult Tone</p></a>
                    
    </div>
</div>
<div id="baseLList" class="container bgWrite mb-20 paddBottom30">
    <div class="row area2  clearfix">                
        
        <div class="wushiWap">
            
            <div class="gif">
                <p style="text-align:center">
                    <img id="wushiyinGIF" src="http://foo.ibianma.com/jingying/word/2018/06/14/87e12fc54273507116fe9e6729d5eaf8.gif" >
                </p>
            </div>
            <!-- <div class="video">
                <p style="text-align:center">
                    <video id="wushiyinMP4" style="width:100%;" src="http://foo.ibianma.com/jingying/word/2017/07/31/c19d3f2b11703d7d03438cc9dbddb187.mp4" preload="auto" controls="controls"></video>
                </p>
            </div> -->
            
        </div>
        
        <div id="wushiyin" class="conitem pos">
                            
            <div id="qingyin" style="width:90%" class="tab-50-box">	
                <ul class="tab-tit tab-tit-50">
                    <li class="active" data-id="qingyin" data-class="tab-content-1">Hiragana(romaji)</li>
                    <li data-id="qingyin" data-class="tab-content-2">Katakana(romaji)</li>
                </ul>
                <div class="tab-content clearfix  tab-tit-50-cont">
                    <div class="tab-content-1">
                        <ul class="tab-50-ul clearfix paddTop-10">
                                <li data-gif = "ping" data-m = "qingyin" data-h = "0" data-v = "0"><a><p>あ<span>a</span></p></a></li> 
                                <li data-gif = "ping" data-m = "qingyin" data-h = "0" data-v = "1"><a><p>い<span>i</span></p></a></li> 
                                <li data-gif = "ping" data-m = "qingyin" data-h = "0" data-v = "2"><a><p>う<span>u</span></p></a></li> 
                                <li data-gif = "ping" data-m = "qingyin" data-h = "0" data-v = "3"><a><p>え<span>e</span></p></a></li> 
                                <li data-gif = "ping" data-m = "qingyin" data-h = "0" data-v = "4"><a><p>お<span>o</span></p></a></li> 
                                <li data-gif = "ping" data-m = "qingyin" data-h = "1" data-v = "0"><a><p>か<span>ka</span></p></a></li> 
                                <li data-gif = "ping" data-m = "qingyin" data-h = "1" data-v = "1"><a><p>き<span>ki</span></p></a></li> 
                                <li data-gif = "ping" data-m = "qingyin" data-h = "1" data-v = "2"><a><p>く<span>ku</span></p></a></li> 
                                <li data-gif = "ping" data-m = "qingyin" data-h = "1" data-v = "3"><a><p>け<span>ke</span></p></a></li> 
                                <li data-gif = "ping" data-m = "qingyin" data-h = "1" data-v = "4"><a><p>こ<span>ko</span></p></a></li>
                                <li data-gif = "ping" data-m = "qingyin" data-h = "2" data-v = "0"><a><p>さ<span>sa</span></p></a></li> 
                                <li data-gif = "ping" data-m = "qingyin" data-h = "2" data-v = "1"><a><p>し<span>shi</span></p></a></li>  
                                <li data-gif = "ping" data-m = "qingyin" data-h = "2" data-v = "2"><a><p>す<span>su</span></p></a></li> 
                                <li data-gif = "ping" data-m = "qingyin" data-h = "2" data-v = "3"><a><p>せ<span>se</span></p></a></li> 
                                <li data-gif = "ping" data-m = "qingyin" data-h = "2" data-v = "4"><a><p>そ<span>so</span></p></a></li>  
                                <li data-gif = "ping" data-m = "qingyin" data-h = "3" data-v = "0"><a><p>た<span>ta</span></p></a></li> 
                                <li data-gif = "ping" data-m = "qingyin" data-h = "3" data-v = "1"><a><p>ち<span>chi</span></p></a></li>
                                <li data-gif = "ping" data-m = "qingyin" data-h = "3" data-v = "2"><a><p>つ<span>tsu</span></p></a></li> 
                                <li data-gif = "ping" data-m = "qingyin" data-h = "3" data-v = "3"><a><p>て<span>te</span></p></a></li> 
                                <li data-gif = "ping" data-m = "qingyin" data-h = "3" data-v = "4"><a><p>と<span>to</span></p></a></li> 
                                <li data-gif = "ping" data-m = "qingyin" data-h = "4" data-v = "0"><a><p>な<span>na</span></p></a></li> 
                                <li data-gif = "ping" data-m = "qingyin" data-h = "4" data-v = "1"><a><p>に<span>ni</span></p></a></li>  
                                <li data-gif = "ping" data-m = "qingyin" data-h = "4" data-v = "2"><a><p>ぬ<span>nu</span></p></a></li> 
                                <li data-gif = "ping" data-m = "qingyin" data-h = "4" data-v = "3"><a><p>ね<span>ne</span></p></a></li>  
                                <li data-gif = "ping" data-m = "qingyin" data-h = "4" data-v = "4"><a><p>の<span>no</span></p></a></li> 
                                <li data-gif = "ping" data-m = "qingyin" data-h = "5" data-v = "0"><a><p>は<span>ha</span></p></a></li> 
                                <li data-gif = "ping" data-m = "qingyin" data-h = "5" data-v = "1"><a><p>ひ<span>hi</span></p></a></li> 
                                <li data-gif = "ping" data-m = "qingyin" data-h = "5" data-v = "2"><a><p>ふ<span>fu</span></p></a></li> 
                                <li data-gif = "ping" data-m = "qingyin" data-h = "5" data-v = "3"><a><p>へ<span>he</span></p></a></li> 
                                <li data-gif = "ping" data-m = "qingyin" data-h = "5" data-v = "4"><a><p>ほ<span>ho</span></p></a></li>
                                <li data-gif = "ping" data-m = "qingyin" data-h = "6" data-v = "0"><a><p>ま<span>ma</span></p></a></li>
                                <li data-gif = "ping" data-m = "qingyin" data-h = "6" data-v = "1"><a><p>み<span>mi</span></p></a></li> 
                                <li data-gif = "ping" data-m = "qingyin" data-h = "6" data-v = "2"><a><p>む<span>mu</span></p></a></li> 
                                <li data-gif = "ping" data-m = "qingyin" data-h = "6" data-v = "3"><a><p>め<span>me</span></p></a></li> 
                                <li data-gif = "ping" data-m = "qingyin" data-h = "6" data-v = "4"><a><p>も<span>mo</span></p></a></li> 
                                <li data-gif = "ping" data-m = "qingyin" data-h = "7" data-v = "0"><a><p>や<span>ya</span></p></a></li> 
                                <li data-gif = "ping" data-m = "qingyin" data-h = "7" data-v = "1"><a><p>い<span>i</span></p></a></li>  
                                <li data-gif = "ping" data-m = "qingyin" data-h = "7" data-v = "2"><a><p>ゆ<span>yu</span></p></a></li> 
                                <li data-gif = "ping" data-m = "qingyin" data-h = "7" data-v = "3"><a><p>え<span>e</span></p></a></li>  
                                <li data-gif = "ping" data-m = "qingyin" data-h = "7" data-v = "4"><a><p>よ<span>yo</span></p></a></li> 
                                <li data-gif = "ping" data-m = "qingyin" data-h = "8" data-v = "0"><a><p>ら<span>ra</span></p></a></li> 
                                <li data-gif = "ping" data-m = "qingyin" data-h = "8" data-v = "1"><a><p>り<span>ri</span></p></a></li> 
                                <li data-gif = "ping" data-m = "qingyin" data-h = "8" data-v = "2"><a><p>る<span>ru</span></p></a></li> 
                                <li data-gif = "ping" data-m = "qingyin" data-h = "8" data-v = "3"><a><p>れ<span>re</span></p></a></li> 
                                <li data-gif = "ping" data-m = "qingyin" data-h = "8" data-v = "4"><a><p>ろ<span>ro</span></p></a></li> 
                                <li data-gif = "ping" data-m = "qingyin" data-h = "9" data-v = "0"><a><p>わ<span>wa</span></p></a></li> 
                                <li data-gif = "ping" data-m = "qingyin" data-h = "9" data-v = "1"><a><p>い<span>i</span></p></a></li>  
                                <li data-gif = "ping" data-m = "qingyin" data-h = "9" data-v = "2"><a><p>う<span>u</span></p></a></li>  
                                <li data-gif = "ping" data-m = "qingyin" data-h = "9" data-v = "3"><a><p>え<span>e</span></p></a></li>  
                                <li data-gif = "ping" data-m = "qingyin" data-h = "9" data-v = "4"><a><p>を<span>wo</span></p></a></li> 
                                <li data-gif = "ping" data-m = "qingyin" data-h = "10" data-v = "0"><a><p>ん<span>n</span></p></a></li>  

                        </ul>
                    </div>
                    <div class="tab-content-2" style="display: none;">
                        <ul class="tab-50-ul clearfix paddTop-10">
                        <li data-gif="pian" data-m="qingyin" data-h="0" data-v="0"><a><p>ア<span>a</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="0" data-v="1"><a><p>イ<span>i</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="0" data-v="2"><a><p>ウ<span>u</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="0" data-v="3"><a><p>エ<span>e</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="0" data-v="4"><a><p>オ<span>o</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="1" data-v="0"><a><p>カ<span>ka</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="1" data-v="1"><a><p>キ<span>ki</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="1" data-v="2"><a><p>ク<span>ku</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="1" data-v="3"><a><p>ケ<span>ke</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="1" data-v="4"><a><p>コ<span>ko</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="2" data-v="0"><a><p>サ<span>sa</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="2" data-v="1"><a><p>シ<span>shi</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="2" data-v="2"><a><p>ス<span>su</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="2" data-v="3"><a><p>セ<span>se</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="2" data-v="4"><a><p>ソ<span>so</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="3" data-v="0"><a><p>タ<span>ta</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="3" data-v="1"><a><p>チ<span>chi</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="3" data-v="2"><a><p>ツ<span>tsu</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="3" data-v="3"><a><p>テ<span>te</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="3" data-v="4"><a><p>ト<span>to</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="4" data-v="0"><a><p>ナ<span>na</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="4" data-v="1"><a><p>ニ<span>ni</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="4" data-v="2"><a><p>ヌ<span>nu</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="4" data-v="3"><a><p>ネ<span>ne</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="4" data-v="4"><a><p>ノ<span>no</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="5" data-v="0"><a><p>ハ<span>ha</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="5" data-v="1"><a><p>ヒ<span>hi</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="5" data-v="2"><a><p>フ<span>fu</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="5" data-v="3"><a><p>ヘ<span>he</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="5" data-v="4"><a><p>ホ<span>ho</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="6" data-v="0"><a><p>マ<span>ma</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="6" data-v="1"><a><p>ミ<span>mi</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="6" data-v="2"><a><p>ム<span>mu</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="6" data-v="3"><a><p>メ<span>me</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="6" data-v="4"><a><p>モ<span>mo</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="7" data-v="0"><a><p>ヤ<span>ya</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="7" data-v="1"><a><p>イ<span>i</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="7" data-v="2"><a><p>ユ<span>yu</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="7" data-v="3"><a><p>エ<span>e</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="7" data-v="4"><a><p>ヨ<span>yo</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="8" data-v="0"><a><p>ラ<span>ra</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="8" data-v="1"><a><p>リ<span>ri</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="8" data-v="2"><a><p>ル<span>ru</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="8" data-v="3"><a><p>レ<span>re</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="8" data-v="4"><a><p>ロ<span>ro</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="9" data-v="0"><a><p>ワ<span>wa</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="9" data-v="1"><a><p>イ<span>i</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="9" data-v="2"><a><p>ウ<span>u</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="9" data-v="3"><a><p>エ<span>e</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="9" data-v="4"><a><p>ヲ<span>wo</span></p></a></li>
                        <li data-gif="pian" data-m="qingyin" data-h="10" data-v="0"><a><p>ン<span>n</span></p></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="zhuoyin" class="tab-50-box"  style="display: none;width:90%">	
                <ul class="tab-tit tab-tit-50">
                    <li class="active" data-id="zhuoyin" data-class="tab-content-1">Hiragana(romaji)</li>
                    <li data-id="zhuoyin" data-class="tab-content-2">Katakana(romaji)</li>
                </ul>
                <div class="tab-content clearfix  tab-tit-50-cont">
                    <div class="tab-content-1">
                        <ul class="tab-50-ul clearfix paddTop-10">
                            <li data-gif="ping" data-m="zhuoyin" data-h="0" data-v="0"><a><p>が<span>ga</span></p></a></li>
                            <li data-gif="ping" data-m="zhuoyin" data-h="0" data-v="1"><a><p>ぎ<span>gi</span></p></a></li>
                            <li data-gif="ping" data-m="zhuoyin" data-h="0" data-v="2"><a><p>ぐ<span>gu</span></p></a></li>
                            <li data-gif="ping" data-m="zhuoyin" data-h="0" data-v="3"><a><p>げ<span>ge</span></p></a></li>
                            <li data-gif="ping" data-m="zhuoyin" data-h="0" data-v="4"><a><p>ご<span>go</span></p></a></li>
                            <li data-gif="ping" data-m="zhuoyin" data-h="1" data-v="0"><a><p>ざ<span>za</span></p></a></li>
                            <li data-gif="ping" data-m="zhuoyin" data-h="1" data-v="1"><a><p>じ<span>ji</span></p></a></li>
                            <li data-gif="ping" data-m="zhuoyin" data-h="1" data-v="2"><a><p>ず<span>zu</span></p></a></li>
                            <li data-gif="ping" data-m="zhuoyin" data-h="1" data-v="3"><a><p>ぜ<span>ze</span></p></a></li>
                            <li data-gif="ping" data-m="zhuoyin" data-h="1" data-v="4"><a><p>ぞ<span>zo</span></p></a></li>
                            <li data-gif="ping" data-m="zhuoyin" data-h="2" data-v="0"><a><p>だ<span>da</span></p></a></li>
                            <li data-gif="ping" data-m="zhuoyin" data-h="2" data-v="1"><a><p>ぢ<span>di</span></p></a></li>
                            <li data-gif="ping" data-m="zhuoyin" data-h="2" data-v="2"><a><p>づ<span>du</span></p></a></li>
                            <li data-gif="ping" data-m="zhuoyin" data-h="2" data-v="3"><a><p>で<span>de</span></p></a></li>
                            <li data-gif="ping" data-m="zhuoyin" data-h="2" data-v="4"><a><p>ど<span>do</span></p></a></li>
                            <li data-gif="ping" data-m="zhuoyin" data-h="3" data-v="0"><a><p>ば<span>ba</span></p></a></li>
                            <li data-gif="ping" data-m="zhuoyin" data-h="3" data-v="1"><a><p>び<span>bi</span></p></a></li>
                            <li data-gif="ping" data-m="zhuoyin" data-h="3" data-v="2"><a><p>ぶ<span>bu</span></p></a></li>
                            <li data-gif="ping" data-m="zhuoyin" data-h="3" data-v="3"><a><p>べ<span>be</span></p></a></li>
                            <li data-gif="ping" data-m="zhuoyin" data-h="3" data-v="4"><a><p>ぼ<span>bo</span></p></a></li>
                            <li data-gif="ping" data-m="zhuoyin" data-h="4" data-v="0"><a><p>ぱ<span>pa</span></p></a></li>
                            <li data-gif="ping" data-m="zhuoyin" data-h="4" data-v="1"><a><p>ぴ<span>pi</span></p></a></li>
                            <li data-gif="ping" data-m="zhuoyin" data-h="4" data-v="2"><a><p>ぷ<span>pu</span></p></a></li>
                            <li data-gif="ping" data-m="zhuoyin" data-h="4" data-v="3"><a><p>ぺ<span>pe</span></p></a></li>
                            <li data-gif="ping" data-m="zhuoyin" data-h="4" data-v="4"><a><p>ぽ<span>po</span></p></a></li>
                        </ul>
                    </div>
                    <div class="tab-content-2" style="display: none;">
                        <ul class="tab-50-ul clearfix paddTop-10">
                        <li data-gif="pian" data-m="zhuoyin" data-h="0" data-v="0"><a><p>ガ<span>ga</span></p></a></li>
                        <li data-gif="pian" data-m="zhuoyin" data-h="0" data-v="1"><a><p>ギ<span>gi</span></p></a></li>
                        <li data-gif="pian" data-m="zhuoyin" data-h="0" data-v="2"><a><p>グ<span>gu</span></p></a></li>
                        <li data-gif="pian" data-m="zhuoyin" data-h="0" data-v="3"><a><p>ゲ<span>ge</span></p></a></li>
                        <li data-gif="pian" data-m="zhuoyin" data-h="0" data-v="4"><a><p>ゴ<span>go</span></p></a></li>
                        <li data-gif="pian" data-m="zhuoyin" data-h="1" data-v="0"><a><p>ザ<span>za</span></p></a></li>
                        <li data-gif="pian" data-m="zhuoyin" data-h="1" data-v="1"><a><p>ジ<span>ji</span></p></a></li>
                        <li data-gif="pian" data-m="zhuoyin" data-h="1" data-v="2"><a><p>ズ<span>zu</span></p></a></li>
                        <li data-gif="pian" data-m="zhuoyin" data-h="1" data-v="3"><a><p>ゼ<span>ze</span></p></a></li>
                        <li data-gif="pian" data-m="zhuoyin" data-h="1" data-v="4"><a><p>ゾ<span>zo</span></p></a></li>
                        <li data-gif="pian" data-m="zhuoyin" data-h="2" data-v="0"><a><p>ダ<span>da</span></p></a></li>
                        <li data-gif="pian" data-m="zhuoyin" data-h="2" data-v="1"><a><p>ヂ<span>di</span></p></a></li>
                        <li data-gif="pian" data-m="zhuoyin" data-h="2" data-v="2"><a><p>ヅ<span>du</span></p></a></li>
                        <li data-gif="pian" data-m="zhuoyin" data-h="2" data-v="3"><a><p>デ<span>de</span></p></a></li>
                        <li data-gif="pian" data-m="zhuoyin" data-h="2" data-v="4"><a><p>ド<span>do</span></p></a></li>
                        <li data-gif="pian" data-m="zhuoyin" data-h="3" data-v="0"><a><p>バ<span>ba</span></p></a></li>
                        <li data-gif="pian" data-m="zhuoyin" data-h="3" data-v="1"><a><p>ビ<span>bi</span></p></a></li>
                        <li data-gif="pian" data-m="zhuoyin" data-h="3" data-v="2"><a><p>ブ<span>bu</span></p></a></li>
                        <li data-gif="pian" data-m="zhuoyin" data-h="3" data-v="3"><a><p>ベ<span>be</span></p></a></li>
                        <li data-gif="pian" data-m="zhuoyin" data-h="3" data-v="4"><a><p>ボ<span>bo</span></p></a></li>
                        <li data-gif="pian" data-m="zhuoyin" data-h="4" data-v="0"><a><p>パ<span>pa</span></p></a></li>
                        <li data-gif="pian" data-m="zhuoyin" data-h="4" data-v="1"><a><p>ピ<span>pi</span></p></a></li>
                        <li data-gif="pian" data-m="zhuoyin" data-h="4" data-v="2"><a><p>プ<span>pu</span></p></a></li>
                        <li data-gif="pian" data-m="zhuoyin" data-h="4" data-v="3"><a><p>ペ<span>pe</span></p></a></li>
                        <li data-gif="pian" data-m="zhuoyin" data-h="4" data-v="4"><a><p>ポ<span>po</span></p></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="aoyin" class="tab-50-box"  style="width:90%;display: none;">	
                <ul class="tab-tit tab-tit-50">
                    <li class="active" data-id="aoyin" data-class="tab-content-1">Hiragana(romaji)</li>
                    <li data-id="aoyin" data-class="tab-content-2">Katakana(romaji)</li>
                </ul>
                <div class="tab-content clearfix  tab-tit-50-cont">
                    <div class="tab-content-1">
                        <ul class="tab-50-ul aoyin-50-ul clearfix paddTop-10">
                            <li data-gif="ping" data-m="aoyin" data-h="0" data-v="0"><a><p>きゃ<span>kya</span></p></a></li>
                            <li data-gif="ping" data-m="aoyin" data-h="0" data-v="1"><a><p>きゅ<span>kyu</span></p></a></li>
                            <li data-gif="ping" data-m="aoyin" data-h="0" data-v="2"><a><p>きょ<span>kyo</span></p></a></li>
                            <li data-gif="ping" data-m="aoyin" data-h="1" data-v="0"><a><p>しゃ<span>sya</span></p></a></li>
                            <li data-gif="ping" data-m="aoyin" data-h="1" data-v="1"><a><p>しゅ<span>syu</span></p></a></li>
                            <li data-gif="ping" data-m="aoyin" data-h="1" data-v="2"><a><p>しょ<span>syo</span></p></a></li>
                            <li data-gif="ping" data-m="aoyin" data-h="2" data-v="0"><a><p>ちゃ<span>tya</span></p></a></li>
                            <li data-gif="ping" data-m="aoyin" data-h="2" data-v="1"><a><p>ちゅ<span>tyu</span></p></a></li>
                            <li data-gif="ping" data-m="aoyin" data-h="2" data-v="2"><a><p>ちょ<span>tyo</span></p></a></li>
                            <li data-gif="ping" data-m="aoyin" data-h="3" data-v="0"><a><p>にゃ<span>nya</span></p></a></li>
                            <li data-gif="ping" data-m="aoyin" data-h="3" data-v="1"><a><p>にゅ<span>nyu</span></p></a></li>
                            <li data-gif="ping" data-m="aoyin" data-h="3" data-v="2"><a><p>にょ<span>nyo</span></p></a></li>
                            <li data-gif="ping" data-m="aoyin" data-h="4" data-v="0"><a><p>ひゃ<span>hya</span></p></a></li>
                            <li data-gif="ping" data-m="aoyin" data-h="4" data-v="1"><a><p>ひゅ<span>hyu</span></p></a></li>
                            <li data-gif="ping" data-m="aoyin" data-h="4" data-v="2"><a><p>ひょ<span>hyo</span></p></a></li>
                            <li data-gif="ping" data-m="aoyin" data-h="5" data-v="0"><a><p>みゃ<span>mya</span></p></a></li>
                            <li data-gif="ping" data-m="aoyin" data-h="5" data-v="1"><a><p>みゅ<span>myu</span></p></a></li>
                            <li data-gif="ping" data-m="aoyin" data-h="5" data-v="2"><a><p>みょ<span>myo</span></p></a></li>
                            <li data-gif="ping" data-m="aoyin" data-h="6" data-v="0"><a><p>りゃ<span>rya</span></p></a></li>
                            <li data-gif="ping" data-m="aoyin" data-h="6" data-v="1"><a><p>りゅ<span>ryu</span></p></a></li>
                            <li data-gif="ping" data-m="aoyin" data-h="6" data-v="2"><a><p>りょ<span>ryo</span></p></a></li>
                            <li data-gif="ping" data-m="aoyin" data-h="7" data-v="0"><a><p>ぎゃ<span>gya</span></p></a></li>
                            <li data-gif="ping" data-m="aoyin" data-h="7" data-v="1"><a><p>ぎゅ<span>gyu</span></p></a></li>
                            <li data-gif="ping" data-m="aoyin" data-h="7" data-v="2"><a><p>ぎょ<span>gyo</span></p></a></li>
                            <li data-gif="ping" data-m="aoyin" data-h="8" data-v="0"><a><p>じゃ<span>jya</span></p></a></li>
                            <li data-gif="ping" data-m="aoyin" data-h="8" data-v="1"><a><p>じゅ<span>jyu</span></p></a></li>
                            <li data-gif="ping" data-m="aoyin" data-h="8" data-v="2"><a><p>じょ<span>jyo</span></p></a></li>
                            <li data-gif="ping" data-m="aoyin" data-h="9" data-v="0"><a><p>びゃ<span>bya</span></p></a></li>
                            <li data-gif="ping" data-m="aoyin" data-h="9" data-v="1"><a><p>びゅ<span>byu</span></p></a></li>
                            <li data-gif="ping" data-m="aoyin" data-h="9" data-v="2"><a><p>びょ<span>byo</span></p></a></li>
                            <li data-gif="ping" data-m="aoyin" data-h="10" data-v="0"><a><p>ぴゃ<span>pya</span></p></a></li>
                            <li data-gif="ping" data-m="aoyin" data-h="10" data-v="1"><a><p>ぴゅ<span>pyu</span></p></a></li>
                            <li data-gif="ping" data-m="aoyin" data-h="10" data-v="2"><a><p>ぴょ<span>pyo</span></p></a></li>
                        </ul>
                    </div>
                    <div class="tab-content-2" style="display: none;">
                        <ul class="tab-50-ul aoyin-50-ul clearfix paddTop-10">
                        <li data-gif="pian" data-m="aoyin" data-h="0" data-v="0"><a><p>キャ<span>kya</span></p></a></li>
                        <li data-gif="pian" data-m="aoyin" data-h="0" data-v="1"><a><p>キュ<span>kyu</span></p></a></li>
                        <li data-gif="pian" data-m="aoyin" data-h="0" data-v="2"><a><p>キョ<span>kyo</span></p></a></li>
                        <li data-gif="pian" data-m="aoyin" data-h="1" data-v="0"><a><p>シャ<span>sya</span></p></a></li>
                        <li data-gif="pian" data-m="aoyin" data-h="1" data-v="1"><a><p>シュ<span>syu</span></p></a></li>
                        <li data-gif="pian" data-m="aoyin" data-h="1" data-v="2"><a><p>ショ<span>syo</span></p></a></li>
                        <li data-gif="pian" data-m="aoyin" data-h="2" data-v="0"><a><p>チャ<span>tya</span></p></a></li>
                        <li data-gif="pian" data-m="aoyin" data-h="2" data-v="1"><a><p>チュ<span>tyu</span></p></a></li>
                        <li data-gif="pian" data-m="aoyin" data-h="2" data-v="2"><a><p>チョ<span>tyo</span></p></a></li>
                        <li data-gif="pian" data-m="aoyin" data-h="3" data-v="0"><a><p>ニャ<span>nya</span></p></a></li>
                        <li data-gif="pian" data-m="aoyin" data-h="3" data-v="1"><a><p>ニュ<span>nyu</span></p></a></li>
                        <li data-gif="pian" data-m="aoyin" data-h="3" data-v="2"><a><p>ニョ<span>nyo</span></p></a></li>
                        <li data-gif="pian" data-m="aoyin" data-h="4" data-v="0"><a><p>ヒャ<span>hya</span></p></a></li>
                        <li data-gif="pian" data-m="aoyin" data-h="4" data-v="1"><a><p>ヒュ<span>hyu</span></p></a></li>
                        <li data-gif="pian" data-m="aoyin" data-h="4" data-v="2"><a><p>ヒョ<span>hyo</span></p></a></li>
                        <li data-gif="pian" data-m="aoyin" data-h="5" data-v="0"><a><p>ミャ<span>mya</span></p></a></li>
                        <li data-gif="pian" data-m="aoyin" data-h="5" data-v="1"><a><p>ミュ<span>myu</span></p></a></li>
                        <li data-gif="pian" data-m="aoyin" data-h="5" data-v="2"><a><p>ミョ<span>myo</span></p></a></li>
                        <li data-gif="pian" data-m="aoyin" data-h="6" data-v="0"><a><p>リャ<span>rya</span></p></a></li>
                        <li data-gif="pian" data-m="aoyin" data-h="6" data-v="1"><a><p>リュ<span>ryu</span></p></a></li>
                        <li data-gif="pian" data-m="aoyin" data-h="6" data-v="2"><a><p>リョ<span>ryo</span></p></a></li>
                        <li data-gif="pian" data-m="aoyin" data-h="7" data-v="0"><a><p>ギャ<span>gya</span></p></a></li>
                        <li data-gif="pian" data-m="aoyin" data-h="7" data-v="1"><a><p>ギュ<span>gyu</span></p></a></li>
                        <li data-gif="pian" data-m="aoyin" data-h="7" data-v="2"><a><p>ギョ<span>gyo</span></p></a></li>
                        <li data-gif="pian" data-m="aoyin" data-h="8" data-v="0"><a><p>ジャ<span>jya</span></p></a></li>
                        <li data-gif="pian" data-m="aoyin" data-h="8" data-v="1"><a><p>ジュ<span>jyu</span></p></a></li>
                        <li data-gif="pian" data-m="aoyin" data-h="8" data-v="2"><a><p>ジョ<span>jyo</span></p></a></li>
                        <li data-gif="pian" data-m="aoyin" data-h="9" data-v="0"><a><p>ビャ<span>bya</span></p></a></li>
                        <li data-gif="pian" data-m="aoyin" data-h="9" data-v="1"><a><p>ビュ<span>byu</span></p></a></li>
                        <li data-gif="pian" data-m="aoyin" data-h="9" data-v="2"><a><p>ビョ<span>byo</span></p></a></li>
                        <li data-gif="pian" data-m="aoyin" data-h="10" data-v="0"><a><p>ピャ<span>pya</span></p></a></li>
                        <li data-gif="pian" data-m="aoyin" data-h="10" data-v="1"><a><p>ピュ<span>pyu</span></p></a></li>
                        <li data-gif="pian" data-m="aoyin" data-h="10" data-v="2"><a><p>ピョ<span>pyo</span></p></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="wushiyinJplay" style="display:none;"></div>
<!--jquery-->
<!-- <script src="http://foo.ibianma.com/jingying/word/2018/07/02/c9f5aeeca3ad37bf2aa006139b935f0a.js"></script> -->
<!--jplay-->
<script src="http://foo.ibianma.com/jingying/word/2018/07/04/4a332e8b9248f2d7dd45f855570944e8.js"></script>
<script src="{{ url_for('static', filename='js/learn.js')}}"></script>

</body>

</html>

