<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"    > 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-3.4.1-dist/css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='bootstrap-3.4.1-dist/js/bootstrap.min.js') }}"></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous">
    </script>
    <script src="{{ url_for('static', filename='js/reg.js') }}"></script>
</head>

<body>
    <header class="wz">
        <div style="height: 10px;"></div>
        <div class="container mycheng" style="width: 100%;">
            <div class="col-lg-2 col-md-4 col-sm-6"><a href="{{ url_for('home') }}" target="_self" class="navigation">Home</a></div>
                <div class="col-lg-2 col-md-4 col-sm-6"><a href="{{ url_for('learn') }}" target="_self" class="navigation">Course</a></div>
                <div class="col-lg-2 col-md-4 col-sm-6"><a href="{{ url_for('accessment_home') }}" target="_self" class="navigation">Assessment</a></div>
                <div class="col-lg-2 col-md-4 col-sm-6"><a href="{{ url_for('table') }}" target="_self" class="navigation">Statistical results</a></div>
                <div class="col-lg-4 col-md-4 col-sm-6">
            <a href="{{ url_for('register') }}" class="login navigation" target="_self">Register</a>
            </div>
         </div>
    </header>
    <div class="w">
        <div class="registerarea">
            <h1>Account Login
                <!-- <div class="login"><a href="register.html">Register</a></div> -->
            </h1>
            <div class="reg_form">
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.email.label }}<br>
                        {{ form.email(size=36) }}
                        {% for error in form.email.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.password.label }}<br>
                        {{ form.password(size=36) }}
                        {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                    <p>{{ form.submit() }}</p>
                    <p>
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <ul class="alert alert-warning">
                            {% for message in messages %}
                              <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% endwith %}
                    </p>
                </form>
            </div>
        </div>
    </div>
</body>

</html>